# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Y-Linked Site/y-linked/node_modules
Y-Linked Site/y-linked/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
Y-Linked Site/y-linked/coverage

# next.js
Y-Linked Site/y-linked/.next/
Y-Linked Site/y-linked/out/

# production
Y-Linked Site/y-linked/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore Python Library Directory
/python/