@import "tailwindcss";

:root {
  --background: #101720;
  --foreground: #ffffff;
  --primary: #faf9f6;
  --highlight-blue: #0000ff;
  --highlight-cyan-celeste: #50EBEC;
  --highlight-medium-aquamarine: #66DDAA;
  --highlight-red-salmon: #ff6467;
  --highlight-red-strawberry: #ff2056;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-sono);
  --font-roboto-condensed: var(--font-roboto-condensed);
  --font-roboto-mono: var(--font-roboto-mono);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  --animate-gradient: gradient 8s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes gradient {
    to {
      background-position: var(--bg-size, 300%) 0;
    }
  }
}

.fade-in {
  animation: fade-in 4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary);
    font-family: var(--font-rubik);
  }
  p {
    color: var(--primary);
  }
  .highlight-blue p span {
    color: var(--highlight-blue);
  }
  hr {
    border: 1px solid var(--foreground);
    margin: 20px 0;
  }
  .social-icons {
    border-color: var(--highlight-blue);
  }
  .navbar li a {
    position: relative;
  }
  .navbar li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary);
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  .navbar li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .epdev a p {
    box-shadow: inset 0 0 0 0 var(--highlight-medium-aquamarine);
    color: var(--primary);
    margin: 0;
    padding: 0 0.25rem 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
  }
  .epdev a p:hover {
    box-shadow: inset 120px 0 0 0 var(--highlight-cyan-celeste);
    color: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik, Arial, Helvetica, sans-serif);
}

.linkedin-gradient:hover {
  background-image: linear-gradient(to top right, #007bb6, #00adb6);
}

.github-gradient:hover {
  background-image: linear-gradient(to top right, #472378, #852192);
}

.email-gradient:hover {
  background-image: linear-gradient(to top right, #d44638, #f9a826);
}
